* {
    margin: 0;
}

#plansza {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.pole {
    background-color: black;
    /* image-rendering: pixelated; */
}

#main {
    position: absolute;
    left: 0;
    top: 0;
}